.cta_middle {
    position: absolute;
    display: block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    left: 28%;
    width: 360px;
    height: 40px;
    margin: 0 auto;
    padding: 1rem 4rem;
    background-color: #004bb1;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    letter-spacing: 0.1rem;
    border-bottom: 5px solid #00bff8;
    &:hover {
        margin-top: 3px;
        border-bottom: 2px solid #00bff8;
    }
    .fa-cloud-download-alt {
        position: absolute;
        top: calc(50% - .5em);
        right: 8rem;
    }
}