.cta_big {
  position: absolute;
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  top: 440px;
  left: 50%;
  width: 360px;
  height: 40px;
  padding: 1rem 4rem;
  background-color: #004bb1;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
  letter-spacing: 0.1rem;
  border-bottom: 5px solid #00bff8;
}

.cta_big:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00bff8;
}

.cta_big .fa-cloud-download-alt {
  position: absolute;
  top: calc(50% - .5em);
  right: 8rem;
}

.cta_middle {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  left: 28%;
  width: 360px;
  height: 40px;
  margin: 0 auto;
  padding: 1rem 4rem;
  background-color: #004bb1;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 0.1rem;
  border-bottom: 5px solid #00bff8;
}

.cta_middle:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00bff8;
}

.cta_middle .fa-cloud-download-alt {
  position: absolute;
  top: calc(50% - .5em);
  right: 8rem;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

body .section_inner {
  max-width: 1000px;
  margin: 0 auto;
}

body .header .fv {
  background-image: url("images/blogging-336376_1920.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  position: relative;
}

body .header .fv .fv_main-message {
  position: absolute;
  top: 80px;
  left: 50%;
  font-size: 5rem;
  letter-spacing: 1rem;
  line-height: 6rem;
}

body .header .fv .fv_sub-message {
  position: absolute;
  top: 300px;
  left: 50%;
  font-size: 1.6rem;
  letter-spacing: 0.1px;
  line-height: 2.4rem;
}

body .header .fv .scrolldown {
  position: absolute;
  left: 47%;
  bottom: 10px;
  height: 50px;
}

body .header .fv .scrolldown span {
  position: absolute;
  left: -15px;
  top: -15px;
  color: #eee;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}

body .header .fv .scrolldown::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #eee;
  -webkit-animation: pathmove 1.4s ease-in-out infinite;
          animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@-webkit-keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

body main .feature {
  width: 100%;
  background-color: #f8f8f8;
}

body main .feature .section_inner {
  position: relative;
  padding: 100px 0 120px 0;
}

body main .feature .section_inner .section-top .section-top_sub-title {
  margin-bottom: 0;
  text-transform: uppercase;
  color: #FFCE00;
  font-size: 1.2rem;
  font-weight: bold;
}

body main .feature .section_inner .section-top .section-top_title {
  color: #004bb1;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  line-height: 5rem;
  margin-top: 0;
}

body main .feature .section_inner .section-top .section-top_title span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #ffff00));
  background: linear-gradient(transparent 60%, #ffff00 0%);
}

body main .feature .section_inner .feature_card-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .feature .section_inner .feature_card-area .card {
  width: 30%;
  height: 300px;
  background-color: #e0e0e0;
}

body main .feature .section_inner .feature_card-area .card .img {
  text-align: center;
  font-size: 2rem;
  margin: 12px;
}

body main .feature .section_inner .feature_card-area .card .text {
  padding: 20px;
  color: #004bb1;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  line-height: 2rem;
}

body main .feature .section_inner .feature_recommend {
  text-align: center;
  color: #004bb1;
  font-size: 1.6rem;
  margin: 40px auto;
}

body main .feature .section_inner .cta_middle a {
  color: #fff;
}

body main .worry {
  color: #004bb1;
}

body main .worry .section_inner {
  padding: 120px 0;
}

body main .worry .section_inner .worry_title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}

body main .worry .section_inner .card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .worry .section_inner .card_wrapper .card {
  width: 30%;
  text-align: center;
}

body main .worry .section_inner .card_wrapper .card .img {
  margin: 40px auto 0 auto;
  font-size: 8rem;
  color: #000;
}

body main .worry .section_inner .card_wrapper .card .title {
  padding: 0 12px;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  text-align: left;
}

body main .worry .section_inner .card_wrapper .card .text {
  padding: 0 12px;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  text-align: left;
}

body main .about {
  padding: 120px 0;
  background-color: #f8f8f8;
  color: #004bb1;
}

body main .about .about_title {
  text-align: center;
  margin-top: 0;
  font-size: 4rem;
}

body main .about .about_upper-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

body main .about .about_upper-area .left-area {
  width: 50%;
}

body main .about .about_upper-area .left-area .section-top_sub-title {
  margin-bottom: 0;
  text-transform: uppercase;
  color: #FFCE00;
  font-size: 1.2rem;
  font-weight: bold;
}

body main .about .about_upper-area .left-area .section-top_title {
  color: #004bb1;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  line-height: 5rem;
  margin-top: 0;
}

body main .about .about_upper-area .left-area .section-top_title span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #ffff00));
  background: linear-gradient(transparent 60%, #ffff00 0%);
}

body main .about .about_upper-area .left-area .section-top_text {
  font-size: 1.4rem;
  line-height: 3rem;
}

body main .about .about_upper-area .right-area {
  width: 50%;
}

body main .about .about_upper-area .right-area .right-area_image .affinger6 {
  width: 100%;
  vertical-align: bottom;
}

body main .about .cta_middle a {
  color: #fff;
}

body main .about .card_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

body main .about .card_area .card {
  width: 25%;
  background-color: #e0e0e0;
  padding: 12px 24px;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  line-height: 2rem;
}

body main .voice .section_inner {
  padding: 120px 0;
  color: #004bb1;
}

body main .voice .section_inner .section-top {
  margin-bottom: 60px;
}

body main .voice .section_inner .section-top .section-top_sub-title {
  margin-bottom: 0;
  text-transform: uppercase;
  color: #FFCE00;
  font-size: 1.2rem;
  font-weight: bold;
}

body main .voice .section_inner .section-top .section-top_title {
  color: #004bb1;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  line-height: 5rem;
  margin-top: 0;
}

body main .voice .section_inner .voice-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

body main .voice .section_inner .voice-area .voice-area_face {
  width: 20%;
}

body main .voice .section_inner .voice-area .voice-area_face .voice-area_face-image img {
  width: 100%;
  vertical-align: bottom;
}

body main .voice .section_inner .voice-area .voice-area_comment {
  width: 100%;
  padding: 20px;
  letter-spacing: .1rem;
  line-height: 1.6rem;
}

body main .voice .section_inner .voice-area .voice-area_comment .voice-area_comment_name {
  font-size: 1.6rem;
  font-weight: bold;
}

body main .voice .section_inner .voice-area .voice-area_comment .voice-area_comment_text {
  font-size: 1.2rem;
}

body main .faq {
  background-color: #f8f8f8;
}

body main .faq .section_inner {
  padding: 120px 0 100px 0;
}

body main .faq .section_inner .section-top .section-top_sub-title {
  margin-bottom: 0;
  text-transform: uppercase;
  color: #FFCE00;
  font-size: 1.2rem;
  font-weight: bold;
}

body main .faq .section_inner .section-top .section-top_title {
  color: #004bb1;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  line-height: 5rem;
  margin-top: 0;
}

body main .faq .section_inner .section-top .section-top_title span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #ffff00));
  background: linear-gradient(transparent 60%, #ffff00 0%);
}

body main .faq .section_inner .faq_wrapper {
  color: #004bb1;
}

body main .faq .section_inner .faq_wrapper .faq_wrapper_lists {
  padding: 0;
}

body main .faq .section_inner .faq_wrapper .faq_wrapper_lists .faq_wrapper_list {
  list-style: none;
  border: 1px solid #707070;
  margin-bottom: 20px;
  padding: 1em 2em;
  font-size: 1.2rem;
}

body main .faq .section_inner .faq_wrapper .faq_wrapper_lists .faq_wrapper_list span {
  margin-right: 8px;
  font-size: 1.6rem;
  color: #FFCE00;
}

body main .faq .section_inner .faq_wrapper .faq_wrapper_lists .faq_wrapper_list .answer {
  padding-left: 1em;
  text-indent: -1em;
  line-height: 1.6rem;
}

body main .comparison .section_inner {
  padding: 120px 0;
}

body main .comparison .section_inner .section-top .section-top_sub-title {
  margin-bottom: 0;
  text-transform: uppercase;
  color: #FFCE00;
  font-size: 1.2rem;
  font-weight: bold;
}

body main .comparison .section_inner .section-top .section-top_title {
  color: #004bb1;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  line-height: 5rem;
  margin-top: 0;
}

body main .comparison .section_inner .section-top .section-top_title span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #ffff00));
  background: linear-gradient(transparent 60%, #ffff00 0%);
}

body main .comparison .section_inner .comparison_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .comparison .section_inner .comparison_boxes .comparison_box {
  width: 28%;
  padding: 8px;
  border: 1px solid #e0e0e0;
}

body main .comparison .section_inner .comparison_boxes .comparison_box img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

body main .comparison .section_inner .comparison_boxes .comparison_box .theme-name {
  text-align: center;
  font-size: 1.6rem;
}

body main .comparison .section_inner .comparison_boxes .comparison_box ul {
  padding-left: 20px;
  height: 80px;
  line-height: 1.6rem;
}

body main .comparison .section_inner .comparison_boxes .comparison_box .theme_price {
  text-align: center;
  margin-top: 20px;
}

body main .comparison .section_inner .comparison_boxes .affinger6 {
  border: 2px solid #004bb1;
}
/*# sourceMappingURL=style.css.map */