@charset "utf-8";
@import "cta";
@import "cta_middle";

$base_color: #004bb1;
$background_color: #f8f8f8;
$white: #fff;

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    .section_inner {
        max-width: 1000px;
        margin: 0 auto;
    }
    .header {
        // height: 600px;
        .fv {
            background-image: url("images/blogging-336376_1920.jpg");
            background-size: cover;
            background-position: center center; 
            height: 100vh;
            color: $white;
            position: relative;
            .fv_main-message {
                position: absolute;
                top: 80px;
                left: 50%;
                // color: #004bb1;
                font-size: 5rem;
                letter-spacing: 1rem;
                line-height: 6rem;
            }
            .fv_sub-message {
                position: absolute;
                top: 300px;
                left: 50%;
                // color: #004bb1;
                font-size: 1.6rem;
                letter-spacing: 0.1px;
                line-height: 2.4rem;
            }
            .scrolldown {
                position: absolute;
                left: 47%;
                bottom: 10px;
                height: 50px;
                span {
                    position: absolute;
                    left: -15px;
                    top: -15px;
                    color: #eee;
                    font-size: 1.2rem;
                    letter-spacing: 0.05em;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 1px;
                    height: 30px;
                    background: #eee;
                    animation: pathmove 1.4s ease-in-out infinite;
                    opacity: 0;
                }
            }
            @keyframes pathmove {
                0% {
                    height: 0;
                    top: 0;
                    opacity: 0;
                }
                30% {
                    height: 30px;
                    opacity: 1;
                }
                100% {
                    height: 0;
                    top: 50px;
                    opacity: 0;
                }
            }
        }
    }
    main {
        .feature {
            width: 100%;
            background-color: $background_color;
            .section_inner {
                position: relative;
                // max-width: 1000px;
                // margin: 0 auto;
                padding: 100px 0 120px 0;
                .section-top {
                    .section-top_sub-title {
                        margin-bottom: 0;
                        text-transform: uppercase;
                        color: #FFCE00;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    .section-top_title {
                        color: $base_color;
                        font-size: 3.6rem;
                        font-weight: bold;
                        letter-spacing: 0.4rem;
                        line-height: 5rem;
                        margin-top: 0;
                        span {
                            background: linear-gradient(transparent 60%, #ffff00 0%);
                        }
                    }
                }
                .feature_card-area {
                    display: flex;
                    justify-content: space-between;
                    .card {
                        width: 30%;
                        height: 300px;
                        background-color: #e0e0e0;
                        .img {
                            text-align: center;
                            font-size: 2rem;
                            margin: 12px;
                        }
                        .text {
                            padding: 20px;
                            color: $base_color;
                            font-size: 1.2rem;
                            letter-spacing: 0.3rem;
                            line-height: 2rem;
                        }
                    }
                }
                .feature_recommend {
                    text-align: center;
                    color: $base_color;
                    font-size: 1.6rem;
                    margin: 40px auto;
                }
                .cta_middle {
                    a {
                        color: $white;
                    }
                    
                }
            }
        }
        .worry {
            color: $base_color;
            .section_inner {
                padding: 120px 0;
                .worry_title {
                    text-align: center;
                    font-size: 2.4rem;
                    font-weight: bold;
                }
                .card_wrapper {
                    display: flex;
                    justify-content: space-between;
                    .card {
                        width: 30%;
                        text-align: center;
                        .img {
                            margin: 40px auto 0 auto;
                            font-size: 8rem;
                            color: #000;
                        }
                        .title {
                            padding: 0 12px;
                            font-size: 1.6rem;
                            letter-spacing: 0.3rem;
                            text-align: left;
                        }
                        .text {
                            padding: 0 12px;
                            font-size: 1.2rem;
                            letter-spacing: 0.3rem;
                            text-align: left;
                        }
                    }
                }
            }
        }
        .about {
            padding: 120px 0;
            background-color: $background_color;
            color: $base_color;
            .about_title {
                text-align: center;
                margin-top: 0;
                font-size: 4rem;
            }
            .about_upper-area {
                display: flex;
                margin-top: 80px;
                .left-area {
                    width: 50%;
                    .section-top_sub-title {
                        margin-bottom: 0;
                        text-transform: uppercase;
                        color: #FFCE00;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    .section-top_title {
                        color: $base_color;
                        font-size: 3.2rem;
                        font-weight: bold;
                        letter-spacing: 0.4rem;
                        line-height: 5rem;
                        margin-top: 0;
                        span {
                            background: linear-gradient(transparent 60%, #ffff00 0%);
                        }
                    }
                    .section-top_text {
                        font-size: 1.4rem;
                        line-height: 3rem;
                    }
                }
                .right-area {
                    width: 50%;
                    .right-area_image {
                        .affinger6 {
                            width: 100%;
                            vertical-align: bottom;
                        }
                    }
                }
            }
            .cta_middle {
                a {
                    color: #fff;
                }
            }
            .card_area {
                display: flex;
                justify-content: space-between;
                margin-top: 120px;
                .card {
                    width: 25%;
                    background-color: #e0e0e0;
                    padding: 12px 24px;
                    font-size: 1.2rem;
                    letter-spacing: 0.3rem;
                    line-height: 2rem;
                }
            }
        }
        .voice {
            .section_inner {
                padding: 120px 0;
                color: $base_color;
                .section-top {
                    margin-bottom: 60px;
                    .section-top_sub-title {
                        margin-bottom: 0;
                        text-transform: uppercase;
                        color: #FFCE00;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    .section-top_title {
                        color: $base_color;
                        font-size: 3.6rem;
                        font-weight: bold;
                        letter-spacing: 0.4rem;
                        line-height: 5rem;
                        margin-top: 0;
                    }
                }
                .voice-area {
                    display: flex;
                    align-items: center;
                    margin-top: 40px;
                    .voice-area_face {
                        width: 20%;
                        .voice-area_face-image {
                            img {
                                width: 100%;
                                vertical-align: bottom;
                            }
                        }
                    }
                    .voice-area_comment {
                        width: 100%;
                        padding: 20px;
                        letter-spacing: .1rem;
                        line-height: 1.6rem;
                        .voice-area_comment_name {
                            font-size: 1.6rem;
                            font-weight: bold;
                        }
                        .voice-area_comment_text {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
        .faq {
            background-color: #f8f8f8;
            .section_inner {
                padding: 120px 0 100px 0;
                .section-top {
                    .section-top_sub-title {
                        margin-bottom: 0;
                        text-transform: uppercase;
                        color: #FFCE00;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    .section-top_title {
                        color: $base_color;
                        font-size: 3.6rem;
                        font-weight: bold;
                        letter-spacing: 0.4rem;
                        line-height: 5rem;
                        margin-top: 0;
                        span {
                            background: linear-gradient(transparent 60%, #ffff00 0%);
                        }
                    }
                }
                .faq_wrapper {
                    color: $base_color;
                    .faq_wrapper_lists {
                        padding: 0;
                        .faq_wrapper_list {
                            list-style: none;
                            border: 1px solid #707070;
                            margin-bottom: 20px;
                            padding: 1em 2em;
                            font-size: 1.2rem;
                            span {
                                margin-right: 8px;
                                font-size: 1.6rem;
                                color: #FFCE00;
                            }
                            .answer {
                                padding-left: 1em;
                                text-indent: -1em;
                                line-height: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
        .comparison {
            .section_inner {
                padding: 120px 0;
                .section-top {
                    .section-top_sub-title {
                        margin-bottom: 0;
                        text-transform: uppercase;
                        color: #FFCE00;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    .section-top_title {
                        color: $base_color;
                        font-size: 3.6rem;
                        font-weight: bold;
                        letter-spacing: 0.4rem;
                        line-height: 5rem;
                        margin-top: 0;
                        span {
                            background: linear-gradient(transparent 60%, #ffff00 0%);
                        }
                    }
                }
                .comparison_boxes {
                    display: flex;
                    justify-content: space-between;
                    .comparison_box {
                        width: 28%;
                        padding: 8px;
                        border: 1px solid #e0e0e0;
                        img {
                            width: 100%;
                            height: 200px;
                            object-fit: contain;
                            object-position: auto auto;
                        }
                        .theme-name {
                            text-align: center;
                            font-size: 1.6rem;
                        }
                        ul {
                            padding-left: 20px;
                            height: 80px;
                            line-height: 1.6rem;
                        }
                        .theme_price {
                            text-align: center;
                            margin-top: 20px;
                        }
                    }
                    .affinger6 {
                        border: 2px solid $base_color;
                    }
                }
            }
        }
        .downroad {
            background-color: $background_color;
            .section_inner {
                padding: 120px 0 280px 0;
                .section-top {
                    .section-top_sub-title {
                        margin-bottom: 0;
                        text-transform: uppercase;
                        color: #FFCE00;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    .section-top_title {
                        color: $base_color;
                        font-size: 3.6rem;
                        font-weight: bold;
                        letter-spacing: 0.4rem;
                        line-height: 5rem;
                        margin-top: 0;
                        span {
                            background: linear-gradient(transparent 60%, #ffff00 0%);
                        }
                    }
                }
                .downroad_benefit-area {
                    .downroad-benefit-area_image {
                        margin: 0 auto;
                        .downroad-benefit-area_image_sugoimokuji {
                            width: 100%;
                            vertical-align: bottom;
                        }
                    }
                    p {
                        font-size: 1.2rem;
                        color: $base_color;
                        font-weight: bold;
                        margin-bottom: 8px;
                    }
                    .caution {
                        font-size: 1rem;
                        margin-top: 0;
                    }
                }
                table, th, td, {
                    border: 1px solid #333;
                    border-collapse: collapse;
                }
                .downroad_desctiption {
                    width: 100%;
                    margin-top: 40px;
                    color: $base_color;
                    font-size: 1.6rem;
                    tbody {
                        tr {
                            th {
                                background-color: #e0e0e0;
                                padding: 8px;
                                text-align: right;
                            }
                            td {
                                padding: 8px;
                                ul {
                                    padding-left: 0;
                                    li {
                                        list-style: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .cta_middle {
                    margin-top: 80px;
                    a {
                        color: $white;
                    }
                }
            }
        }
    }
    .footer {
        width: 100%;
        background-color: $base_color;
        text-align: center;
        color: $white;
        padding: 40px 0;
        p {
            font-size: 1.2rem;
            margin: 0 auto 24px auto;
        }
        small {
            font-size: 1.2rem;
            
        }
    }
}