@charset "utf-8";

/* フォントの読み込み
----------------------------------------------------------*/

@font-face {
    font-family: "AxisStd-UltraLight";
    src: url("../fonts/a9052c68-9f8f-4738-b7b3-28b7b4074c0e.eot?#iefix");
    src: url("../fonts/a9052c68-9f8f-4738-b7b3-28b7b4074c0e.eot?#iefix") format("eot"), url("../fonts/9debccc6-f756-4d46-a835-ac342ddbcaf0.woff2") format("woff2"), url("../fonts/726b29c5-dc24-49d5-a06e-107b62843f0b.woff") format("woff"), url("../fonts/fcf3fe94-ef76-4736-8626-e84ee1a9ba39.ttf") format("truetype"), url("../fonts/3d6f6af4-77aa-4896-b039-94e43492d9c6.svg#3d6f6af4-77aa-4896-b039-94e43492d9c6") format("svg");
}

@font-face {
    font-family: "AxisStd-ExtraLight";
    src: url("../fonts/cae76507-fde0-48d2-8060-f95b67662772.eot?#iefix");
    src: url("../fonts/cae76507-fde0-48d2-8060-f95b67662772.eot?#iefix") format("eot"), url("../fonts/9adc0413-55bd-4001-9bc0-f823476aa22e.woff2") format("woff2"), url("../fonts/25516da4-2e65-456a-bc9c-cc6960f6c384.woff") format("woff"), url("../fonts/8c439ac8-83ef-4635-a477-df9c64f97b62.ttf") format("truetype"), url("../fonts/93d1f11a-903e-4293-a2f1-cd55b87b5087.svg#93d1f11a-903e-4293-a2f1-cd55b87b5087") format("svg");
}

@font-face {
    font-family: "AxisStd-Light";
    src: url("../fonts/aa7c9f5f-bd2d-4fbb-a4a5-82ba2cd0189c.eot?#iefix");
    src: url("../fonts/aa7c9f5f-bd2d-4fbb-a4a5-82ba2cd0189c.eot?#iefix") format("eot"), url("../fonts/ca94208f-21dd-4dc8-ab7c-057d8dbfcccb.woff2") format("woff2"), url("../fonts/18820f9e-d51e-43be-9d0f-e510d9d1878a.woff") format("woff"), url("../fonts/cb3a3886-7dec-420d-bf42-698737ce3561.ttf") format("truetype"), url("../fonts/9bdde1f9-7637-4fa1-994d-2f2ad4929b1f.svg#9bdde1f9-7637-4fa1-994d-2f2ad4929b1f") format("svg");
}

@font-face {
    font-family: "AxisStd-Regular";
    src: url("../fonts/7e908add-1f72-4926-8e0d-33613fad3a87.eot?#iefix");
    src: url("../fonts/7e908add-1f72-4926-8e0d-33613fad3a87.eot?#iefix") format("eot"), url("../fonts/d226afef-6536-4b18-9b28-defffcc4baae.woff2") format("woff2"), url("../fonts/6e9eb620-9339-4b2e-bb9b-d514def96de7.woff") format("woff"), url("../fonts/a71ba532-858c-440c-8abd-e89a2ae8efea.ttf") format("truetype"), url("../fonts/5d948218-1de1-4508-b1a6-fe03ccced886.svg#5d948218-1de1-4508-b1a6-fe03ccced886") format("svg");
}

body {
    width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* ここからnormalHeaderwrapper -------------------- */
#normalHeaderWrapper {
    position: relative;
    z-index: 200;
    width: 100%;
    font-family: "AxisStd-Regular", sans-serif;
}
.headerTopWrapper {
    width: 100%;
    background-color: #f7f7f7;
}
.headerTop {
    display: flex;
    align-items: center;
    height: 32px;
    max-width: 1060px;
    margin: 0 auto;
}
.headerTop p {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 700;
    color: #272727;
    margin-right: auto;
    margin-left: 8px;
}
.headerTop ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}
.headerTop li:first-child {
    background: none;
}
.headerTop li:last-child {
    background: none;
}
.headerTop ul li {
    display: inline-block;
    vertical-align: middle;
    background: url(../../images/header01_intro_nav01_bg01.png) 0 50% no-repeat;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 11px;
    font-weight: 400;
    color: #676767;
}
.headerTop a::before {
    content: "";
    display: inline-block;
    background-image: url(../../images/icon_site_mark01.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.headerTop a {
    background-color: #d9d9d9;
    display: table-cell;
    height: 32px;
    vertical-align: middle;
    padding: 0 8px 0 8px;
}
.headerMain {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 8px;
    background-color: #ffffff;
}
.headerMainTop {
    width: 1040px;
    display: flex;
    align-items: center;
    padding: 4px 10px 4px 10px;
}
.headerMainTop .mainLogo {
    margin-right: auto;
}
.headerMainTop .mainLogo img {
    width: 211px;
    height: 45px;
}
.headerMainTop .telInfo {
    text-align: center;
    padding-right: 24px;
}
.headerMainTop .telInfo p {
    font-size: 12px;
    color: #8c969c;
    margin: 4px auto 0 auto;
}
.headerMainTop .icon a {
    padding-left: 4px;
}
.headerMainTop .icon img {
    width: 30px;
    height: 30px;
}

.headerMainBottom {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.headerMainBottom ul {
    display: flex;
    position: relative;
    margin-right: auto;
    padding-left: 10px;
}
.headerMainBottom ul img {
    width: 80px;
    height: 10px;
    object-fit: cover;
    object-position: 0% 100%;
}
.headerMainBottom ul li:nth-child(2) img {
    width: 60px;
    object-fit: cover;
    object-position: 0% 0%;
}
.headerMainBottom ul li:nth-child(3) img {
    width: 90px;
    object-fit: cover;
    object-position: 0% 0%;
}
.headerMainBottom ul li:nth-child(4) img {
    width: 90px;
    object-fit: cover;
    object-position: 0% 0%;
}
.headerMainBottom ul li {
    border-left: 1px solid #dcdddd;
    border-right: 1px solid #dcdddd;
    padding: 0 32px 0 32px;
}
.headerMainBottom ul li:first-child::after {
    content: "";
    display: block;
    position: absolute;
    top: 52px;
    left: 88px;
    z-index: 10;
    width: 0;
    height: 0;
    margin: 0 0 0 -6px;
    border-style: solid;
    border-width: 0 6px 9px 6px;
    border-color: transparent transparent #181836 transparent;
}
.headerMainBottom ul a {
    color: #000000;
}
.headerMainBottom .contact {
    display: table;
    border-collapse: separate;
    border-spacing: 10px 0;
}
.headerMainBottom .contact a {
    display: table-cell;
    vertical-align: middle;
    color: #20296F;
    border: 1px solid #20296F;
    width: 170px;
    height: 38px;
    margin-right: 10px;
    font-weight: bold;
    background: url(../../images/icon_arrow01_right_blue01.png) 94% 50% no-repeat;
}

.localNav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #191937;
}
.localNav ul {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1040px;
    text-align: center;
    padding: 12px 12px 4px 12px;
}
.localNav ul li {
    padding: 0;
    margin: 2px;
    display: inline-block;
}
.localNav a {
    color: #ffffff;
    display: inline-block;
    padding: 8px 8px;
    font-size: 14px;
    letter-spacing: 1px;
}
.localNav li a::before {
    content: "";
    display: inline-block;
    background-image: url(../../images/icon_backslash01_black01.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 16px;
    vertical-align: middle;
    padding-right: 18px;
}
.localNav li:first-child a::before {
    content: none;
}
/* ここまでnormalHeaderwrapper -------------------- */

/* ここからfixedHeaderWrapper -------------------- */
#fixedHeaderWrapper {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    opacity: 0.9;
}
#fixedHeaderWrapper .fixedHeader {
    display: flex;
    left: 0;
    top: 0;
    max-width: 1060px;
    margin: 0 auto;
    padding: 8px;
    align-items: center;
}
#fixedHeaderWrapper .fixedHeader a {
    margin-right: auto;
    padding-left: 12px;
}
#fixedHeaderWrapper .fixedHeader .mainLogo img {
    width: 170px;
}
#fixedHeaderWrapper .fixedHeader .telInfo {
    display: flex;
    align-items: center;
} 
#fixedHeaderWrapper .fixedHeader .telInfo img {
    width: 190px;
    height: 22px;
    padding-right: 8px;
}
#fixedHeaderWrapper .fixedHeader .telInfo p {
    font-size: 12px;
    color: #8d959c;
}
#fixedHeaderWrapper .fixedHeader .contact {
    display: table;
    border-collapse: separate;
    border-spacing: 10px 0;
}
#fixedHeaderWrapper .fixedHeader .contact a {
    display: table-cell;
    vertical-align: middle;
    color: #20296F;
    border: 1px solid #20296F;
    width: 148px;
    height: 38px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background: url(../../images/icon_arrow01_right_blue01.png) 94% 50% no-repeat;
    background-size: 5px 9px;
}
/* ここまでfixedHeaderWrapper -------------------- */

/* ここからmain ------------------------------ */

.mainTitleImage {
    width: 100%;
    height: 530px;
    background-image: url(../../images/about_mainimage01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainTitleImage .mainTitleWrapper {
    margin: 0 auto;
}
.mainTitleImage .mainTitleWrapper .title {
    color: #ffffff;
    font-size: 56px;
    font-weight: normal;
    letter-spacing: 12px;
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 68px;
    text-align: center;
    /* align-items: center; */
}
.mainTitleImage .mainTitleWrapper .underLine {
    display: block;
    width: 200px;
    margin: 0 auto;
}
.mainTitleImage .mainTitleWrapper .aboutSchool {
    display: block;
    width: 96px;
    margin: 24px auto 0 auto;
}

.topicPath {
    width: 100%;    
    margin: 0 auto;
    border-bottom: 1px solid #e1e1e1;
}
.topicPath ul {
    display: flex;
    display: table;
    margin: 0 auto 0 0;
    max-width: 1060px;
    height: 64px;
}
.topicPath ul li {
    display: table-cell;
    vertical-align: middle;
    padding-left: 16px;
    font-size: 14px;
}
.topicPath ul li a {
    color: #36538d;
}

.articleHeading {
    max-width: 1060px;
    margin: 0 auto;

}
.articleHeading .articleMainTitle {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 8px;
    line-height: 1.8;
    padding-top: 64px;
    padding-bottom: 40px;

}
.articleHeading .articleSubTitle {
    text-align: center;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.8;
    background: url(../../images/line01_black01.png) center bottom no-repeat;
    background-size: 200px 1px;
    padding-bottom: 16px;
}
.articleHeading p {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 4px;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.8;
}

.introduction {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 54px;
}
.introduction .educationalPolicy {
    font-size: 27px;
    font-weight: normal;
    padding-left: 8px;
    padding-bottom: 18px;
    background: url(../../images/line02_black01.png) center bottom no-repeat;
    background-size: 1042px;
}
.introduction .policyDetails {
    display: flex;
    max-width: 1060px;
}
.introduction .policyDetails ul {
    padding-left: 10px;
    margin-top: 24px;
    width: 55%;
}
.introduction .policyDetails ul li {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 36px;
}
.introduction .policyDetails ul li span {
    display: inline-block;
    font-size: 24px;
    border-right: 1px solid #000000;
    padding-right: 16px;
    margin-right: 12px;
}
.introduction .policyDetails figure {
    width: 60%;
    max-width: 630px;
    margin-right: -15%;
}

.credoArea {
    display: flex;
    background-color: #F7F7F7;
    border: 1px solid #dddddd;
    max-width: 620px;
    height: 270px;
    margin: 60px auto 84px auto;
    padding: 32px;
}
.credoArea .credoText {
    margin-left: 20px;
}
.credoArea .credoText h3 {
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0.9px;
    margin-top: 0;
    line-height: 1.7;
}
.credoArea .credoText p {
    letter-spacing: 0.8px;
    text-align: justify;
    line-height: 1.7;
}
.credoArea .credoText a {
    display: inline-block;
    background: url(../../images/icon_arrow01_right_black01.png) 0 2px no-repeat;
    background-size: 5px 9px;
    padding-left: 16px;
    margin-top: 18px;
}
.credoArea .credoText img {
    width: 70px;
    height: 13px;
}

.characteristic {
    font-size: 27px;
    font-weight: normal;
    padding-left: 8px;
    padding-bottom: 18px;
    background: url(../../images/line02_black01.png) center bottom no-repeat;
    background-size: 1042px;
}
.characteristicArea {
    display: flex;
    margin: 60px auto 0 auto; 
}
.characteristicArea .characteristicDetails {
    padding-left: 10px;
    width: 47%;
}
.characteristicArea .characteristicDetails h3 {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.7;
    border-bottom: 1px solid #000000;
    padding-bottom: 24px;
    margin-bottom: 0;
}
.characteristicArea .characteristicDetails .main {
    line-height: 1.8;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.characteristicArea .characteristicDetails .sub {
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.5px;
}
.characteristicArea figure {
    width: 45%;
    margin-right: 0;
    margin-bottom: 0;
}

.advancedProgramArea {
    max-width: 1060px;
    display: flex;
    margin-top: 56px;
    padding-right: 0;
}
.advancedProgramArea .advancedProgram {
    width: 47%
}
.advancedProgramArea .advancedProgram h3 {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.7;
    border-bottom: 1px solid #000000;
    padding-left: 8px;
    padding-bottom: 24px;
    margin-bottom: 8px;  
}
.advancedProgramArea .advancedProgram p {
    font-size: 17px;
    line-height: 1.7;
    padding-left: 8px;
}
.advancedProgramArea figure {
    width: 47%;
    margin-right: 0;
    margin-bottom: 0;
}

.contents {
    margin-top: 112px;
}

.contents .basicProgram {
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.contents .basicProgram .contentsTitleArea {
    width: 1060px;
    margin: 0 auto;
    text-align: center;
}
.contents .basicProgram .contentsTitleArea .contentsTitle {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    background: url(../../images/line01_black01.png) center bottom no-repeat;
    background-size: 200px 1px;
    line-height: 1.8;
    margin-top: 72px;
    margin-bottom: 20px;
    padding-bottom: 12px;
}
.contents .basicProgram .contentsTitleArea p {
    line-height: 1.8;
    letter-spacing: 1px;
}
.contents .basicProgram .contentsWrapper {
    display: flex;
    width: 1060px;
    margin: 48px auto 92px auto;
}
.contents .basicProgram .contentsWrapper .leftImage {
    width: 70%;
    margin-left: 12px;
    margin-right: 12px;
}
.contents .basicProgram .contentsWrapper a {
    width: 29%;
}
.contents .basicProgram .contentsWrapper .rightArea .basicProgram {
    background-color: #1c1c1c;
    display: inline-block;
    padding: 2px 10px;
    font-size: 1.2rem;
    width: 84px;
}
.contents .basicProgram .contentsWrapper .rightArea .basicProgram img {
    height: 14px;
    padding-bottom: 0;
}
.contents .basicProgram .contentsWrapper .rightArea h3 {
    font-size: 22px;
    color: #000000;
    font-weight: normal;
    margin-top: 0;
    letter-spacing: 1px;
    line-height: 1.8;
}
.contents .basicProgram .contentsWrapper .rightArea .mainText {
    color: #000000;
    letter-spacing: 1px;
    line-height: 1.7;
}
.contents .basicProgram .contentsWrapper .rightArea .subText {
    color: #000000;
    font-size: 11px;
    letter-spacing: 0.9px;
    line-height: 1.7;
    padding-top: 8px;
    padding-bottom: 12px;
}
.contents .basicProgram .contentsWrapper .rightArea .readMore {
    background: url(../../images/icon_arrow01_right_black01.png) 0 1px no-repeat;
    background-size: 5px 9px;
    padding: 0 0 0 16px;
}
.contents .basicProgram .contentsWrapper .rightArea .readMore img {
    width: 70px;
    height: 13px;
}
.contents .basicProgram .contentsWrapper .leftArea {
    margin-left: 10px;
}
.contents .basicProgram .contentsWrapper .leftArea .basicProgram {
    background-color: #1c1c1c;
    display: inline-block;
    padding: 2px 10px;
    font-size: 1.2rem;
    width: 84px;
}
.contents .basicProgram .contentsWrapper .leftArea .basicProgram img {
    height: 14px;
    padding-bottom: 0;
}
.contents .basicProgram .contentsWrapper .leftArea h3 {
    font-size: 22px;
    color: #000000;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 1.8;
}
.contents .basicProgram .contentsWrapper .leftArea .subText {
    color: #000000;
    font-size: 14px;
    padding-right: 6px;
    line-height: 1.8;
}
.contents .basicProgram .contentsWrapper .leftArea .mainText {
    color: #000000;
    letter-spacing: 0.9px;
    line-height: 1.8;
    padding-right: 0;
}
.contents .basicProgram .contentsWrapper .rightImage {
    width: 64%;
}
.contents .basicProgram .contentsWrapper .leftArea .readMore {
    background: url(../../images/icon_arrow01_right_black01.png) 0 1px no-repeat;
    background-size: 5px 9px;
    padding: 0 0 0 16px;
}
.contents .basicProgram .contentsWrapper .leftArea .readMore img {
    width: 70px;
    height: 13px;
}

.advancedProgram {
    width: 1060px;
    margin: 0 auto;
}
.advancedProgram .contentsTitleArea .contentsTitle {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    background: url(../../images/line01_black01.png) center bottom no-repeat;
    background-size: 200px 1px;
    line-height: 1.8;
    margin-top: 72px;
    margin-bottom: 20px;
    padding-bottom: 8px;
}
.advancedProgram .contentsTitleArea p {
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 60px;
}

.contents .advancedProgram .contentsWrapper {
    display: flex;
    width: 1060px;
    margin: 48px auto 92px auto;
}
.contents .advancedProgram .contentsWrapper .leftImage {
    width: 70%;
    padding: 0;
    margin: 0 32px 0 12px;
}
.contents .advancedProgram .contentsWrapper a {
    width: 29%;
}
.contents .advancedProgram .contentsWrapper .rightArea .advancedProgram {
    background-color: #1c1c1c;
    display: inline-block;
    padding: 0px 10px;
    font-size: 1.2rem;
    width: 104px;
}
.contents .advancedProgram .contentsWrapper .rightArea .advancedProgram img {
    height: 14px;
    padding-bottom: 0;
}
.contents .advancedProgram .contentsWrapper .rightArea h3 {
    font-size: 22px;
    color: #000000;
    font-weight: normal;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 1.8;
}
.contents .advancedProgram .contentsWrapper .rightArea .mainText {
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 36px;
}
.contents .advancedProgram .contentsWrapper .rightArea .subText {
    color: #000000;
    font-size: 11px;
    letter-spacing: 0.9px;
    line-height: 1.7;
    padding-top: 8px;
    padding-bottom: 12px;
}
.contents .advancedProgram .contentsWrapper .rightArea .readMore {
    background: url(../../images/icon_arrow01_right_black01.png) 0 1px no-repeat;
    background-size: 5px 9px;
    padding: 0 0 0 16px;
}
.contents .advancedProgram .contentsWrapper .rightArea .readMore img {
    width: 70px;
    height: 13px;
}
.contents .advancedProgram .contentsWrapper .leftArea {
    margin-left: 10px;
}
.contents .advancedProgram .contentsWrapper .leftArea .advancedProgram {
    background-color: #1c1c1c;
    display: inline-block;
    padding: 2px 10px;
    font-size: 1.2rem;
    width: 84px;
}

.contents .advancedProgram .contentsWrapper .leftArea {
    margin-left: 10px;
}
.contents .advancedProgram .contentsWrapper .leftArea .advancedProgram {
    background-color: #1c1c1c;
    display: inline-block;
    padding: 2px 10px;
    font-size: 1.2rem;
    width: 104px;
}
.contents .advancedProgram .contentsWrapper .leftArea .advancedProgram img {
    height: 14px;
    padding-bottom: 0;
}
.contents .advancedProgram .contentsWrapper .leftArea h3 {
    font-size: 22px;
    color: #000000;
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 1.8;
}
.contents .advancedProgram .contentsWrapper .leftArea .subText {
    color: #000000;
    font-size: 14px;
    padding-right: 6px;
    line-height: 1.8;
}
.contents .advancedProgram .contentsWrapper .leftArea .mainText {
    color: #000000;
    letter-spacing: 0.9px;
    line-height: 1.8;
    padding-right: 0;
    margin-bottom: 36px;
}
.contents .advancedProgram .contentsWrapper .rightImage {
    width: 64%;
    margin: 0 0 0 24px;
}
.contents .advancedProgram .contentsWrapper .leftArea .readMore {
    background: url(../../images/icon_arrow01_right_black01.png) 0 1px no-repeat;
    background-size: 5px 9px;
    padding: 0 0 0 16px;
}
.contents .advancedProgram .contentsWrapper .leftArea .readMore img {
    width: 70px;
    height: 13px;
}

.itToolCommunicationWrapper {
    background-color: #f7f7f7;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 112px;
}
.itToolCommunication {
    max-width: 1060px;
    margin: 0 auto 96px auto;
}
.itToolCommunication h2 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 1.5px;
    margin: 60px 0 32px 0;
    background: url(../../images/line01_black01.png) center bottom no-repeat;
    background-size: 200px 1px;
    line-height: 2.5;
}
.itToolCommunication .contentsWrapper {
    display: flex;
    margin: 56px auto 36px auto;
}
.itToolCommunication .contentsWrapper a {
    width: 28%;
}
.itToolCommunication .contentsWrapper .leftArea {
    margin-left: 10px;
    color: #000000;
}
.itToolCommunication .contentsWrapper .leftArea h3 {
    font-size: 23px;
    font-weight: normal;
    line-height: 1.7;
}
.itToolCommunication .contentsWrapper .leftArea p { 
    letter-spacing: 1px;
    line-height: 1.8;
}
.itToolCommunication .contentsWrapper figure {
    width: 60%;
}
.itToolCommunication .contentsWrapper figure img {
    display: block;
    margin: 0 0 0 auto;
    padding: 0;
}