body {
    font-family: "Montserrat", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: #333;
}

#sub-header {
    position: relative;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFF;
    height: 240px;
    padding-top: 80px;
    .header__top {
        display: flex;
        position: fixed;
        z-index: 10;
        justify-content: space-between;
        align-items: center;
        top: 0;
        width: 100%;
        padding: 30px;
        transition: all .3s;
        &.active {
            background-color: #21054d;
            padding: 24px 30px;
        }
        .header__logo {
            a {
                img {
                    vertical-align: middle;
                }
            }
        }
        .global-nav {
            ul {
                display: flex;
                height: 100%;
                li:not(:last-child) {
                    margin-right: 24px;
                }
                li {
                    flex: 1 1;
                    text-transform: uppercase;
                    a {
                        height: 100%;
                        display: inline-block;   
                        align-items: center; 
                        font-size: 0.875rem;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                        padding-bottom: 4px;
                        position: relative;
                        &::after {
                            background-color: #fff;
                            bottom: 0;
                            content: '';
                            display: block;
                            height: 1px;
                            left: 0;
                            position: absolute;
                            transition: .5s all;
                            width: 0;
                        }
                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }   
        }
        .openbtn {
            display: none;
        }
    }
    .header-title {
        text-align: center;
        margin: 32px auto 0 auto;
        .main-title {
            font-weight: bold;
            font-size: 36px;
            letter-spacing: 0.1rem;
        }
        .sub-title {
            margin-top: 4px;
            font-weight: 400;
            font-size: 13px;
            font-weight: bold;
            .br_sp {
                display: none;
            }
        }
        
    }
    .link {
        text-align: center;
        margin: 56px 0 240px 0;
        .btn {
            position: relative;
            display: inline-block;
            width: 200px;
            border: 1px solid #FFF;
            border-radius: 50px;
            padding: 24px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.1rem;
            line-height: 0.8;
        }
        .btn::after {
            content: '';
            position: absolute;
            left: 170px;
            width: 4px;
            height: 4px;
            border: 5px solid transparent;
            border-left: 5px solid #FFF;
        }
    }
}
.breadcrumb {
    
    height: 44px;
    margin: 0 auto;
    background-color: #F0F0F0;
    .breadcrumb__inner {
        max-width: 1140px;
        margin: 0 auto;
        .breadcrumb__list {
            display: flex;
            height: 44px;
            padding: 0 16px;
            .breadcrumb__item{
                display: flex;
                align-items: center;
                &::after {
                    padding: .005em .8em;
                    content: ">";
                    color: #555;
                    font-size: .75rem;
                }
                &:last-child::after {
                    content: "";
                }
                .breadcrumb__link {
                    text-transform: uppercase;
                    font-size: 0.75rem;
                }
            }
        }
    }
        
}
main {
    .news {
        display: block;
        padding: 70px 20px 16px 20px;
        .news__list {
            ul {
                li {
                    display: flex;
                    align-items: flex-start;
                    .news__list_body {
                        line-height: 1.8;
                        .news__list_link {
                            display: block;
                            padding: 4px 0 0 0;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .pagenation {
            width: 100%;
            text-align: center;
            margin-top: 40px;
            ul {
                display: flex;
                justify-content: center;
                li {
                    .pagenation__link_current {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 1.2rem;
                        background-color: #F1EAF8;
                        width:45px;
                        height:45px;
                        border-radius: 50%;
                    }
                    .pagenation__link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 1.2rem;
                        color: #fff;
                        background-image: linear-gradient(135deg, #7633a4, #250d65);
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .service {
        .service__inner {
            max-width: 1140px;
            margin: 0 auto;
            padding: 72px 16px 20px 16px;
            .service__content {
                display: flex;
                &:not(:last-child) {
                    margin-bottom: 60px;
                }
                .service__img {
                    flex: 0 0 40%;
                    margin-right: 50px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .service__content_card {
                    .service__content_title {
                        font-weight: bold;
                        font-size: 1.5rem;
                        padding: 8px 0 8px 0;
                    }
                    .service__content_text {
                        margin-top: 20px;
                        font-size: 0.95rem;
                        letter-spacing: -0.2px;
                        line-height: 1.8;

                    }
                }
            }
        }
    }
    .works {
        .works__inner {
            display: flex;
            flex-wrap: wrap;
            max-width: 1140px;
            margin: 0 auto;
            padding: 30px 15px 0 15px;
            .works__card {
                flex: 0 1 31.5%;
                margin-right: 30px;
                margin-bottom: 32px;
                text-align: center;
                .works__card_link {
                    &:hover {
                        text-decoration: underline;
                    }
                    .works__card_img {
                        img {
                            width: 100%;
                            height: auto;
                            box-shadow: 0 0 15px;
                        }
                    }
                    .works__card_title {
                        margin-top: 20px;
                    }
                }
            }
            .col3 {
                margin-right: 0;
            }
        }
    }
    .company {
        height: auto;
        margin: 0;
        background-position: center -20px, center 40px;
        .wrapper {
            margin-top: -40px;
            .message-title {
                font-weight: bold;
                font-size: 2rem;
                color: #391e88;
            }
        }
    }
    .greeting {
        .greeting__wrapper {
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            padding: 15px 15px;
            .greeting__ceo-img {
                flex: 0 0 40%;
                margin-right: 50px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .greeting__text {
                font-size: 0.94rem;
                line-height: 1.8;
            }
        }
    }
    .info {
        margin-top: 120px;
        padding: 0 15px;
        .info__wrapper {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 15px 0 15px;
            .info__heading {
                text-align: center;
                font-weight: bold;
                font-size: 2rem;
                color: #391e88;
            }
            .info__table {
                width: 100%;
                margin-top: 28px;
                tbody {
                    
                    tr {
                        border-bottom: 1px solid #ddd;
                        font-size: 0.93rem;
                        th {
                            width: 20%;
                            padding: 36px 0 36px 12px;
                        }
                        td {
                            padding: 36px 0 36px 12px;
                        }
                    }
                    
                }  
            }
        }
    }
    .access {
        margin-top: 60px;
        .access__wrapper {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 15px 20px 15px;
            .access__map {
                iframe {
                    width: 100%;
                }
            }
            .access__link {
                padding: 8px 0 8px 0;
                a {
                    display: block;
                    font-size: 0.9rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }       
        }
    }
}