body {
    font-family: "Montserrat", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: #333;
}

#sub-header {
    position: relative;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFF;
    height: 240px;
    padding-top: 80px;
    .header__top {
        display: flex;
        position: fixed;
        z-index: 10;
        justify-content: space-between;
        align-items: center;
        top: 0;
        width: 100%;
        padding: 30px;
        transition: all .3s;
        &.active {
            background-color: #21054d;
            padding: 24px 30px;
        }
        .header__logo {
            a {
                img {
                    vertical-align: middle;
                }
            }
        }
        .global-nav {
            ul {
                display: flex;
                height: 100%;
                li:not(:last-child) {
                    margin-right: 24px;
                }
                li {
                    flex: 1 1;
                    text-transform: uppercase;
                    a {
                        height: 100%;
                        display: inline-block;   
                        align-items: center; 
                        font-size: 0.875rem;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                        padding-bottom: 4px;
                        position: relative;
                        &::after {
                            background-color: #fff;
                            bottom: 0;
                            content: '';
                            display: block;
                            height: 1px;
                            left: 0;
                            position: absolute;
                            transition: .5s all;
                            width: 0;
                        }
                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }   
        }
        .openbtn {
            display: none;
        }
    }
    .header-title {
        text-align: center;
        margin: 32px auto 0 auto;
        .main-title {
            font-weight: bold;
            font-size: 36px;
            letter-spacing: 0.1rem;
        }
        .sub-title {
            margin-top: 4px;
            font-weight: 400;
            font-size: 13px;
            font-weight: bold;
            .br_sp {
                display: none;
            }
        }
        
    }
    .link {
        text-align: center;
        margin: 56px 0 240px 0;
        .btn {
            position: relative;
            display: inline-block;
            width: 200px;
            border: 1px solid #FFF;
            border-radius: 50px;
            padding: 24px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.1rem;
            line-height: 0.8;
        }
        .btn::after {
            content: '';
            position: absolute;
            left: 170px;
            width: 4px;
            height: 4px;
            border: 5px solid transparent;
            border-left: 5px solid #FFF;
        }
    }
}
.breadcrumb {
    margin: 0 auto;
    background-color: #F0F0F0;
    .breadcrumb__inner {
        max-width: 1140px;
        margin: 0 auto;
        .breadcrumb__list {
            display: flex;
            height: 44px;
            padding: 0 16px;
            .breadcrumb__item{
                display: flex;
                align-items: center;
                &::after {
                    padding: .005em .8em;
                    content: ">";
                    color: #555;
                    font-size: .75rem;
                }
                &:last-child::after {
                    content: "";
                }
                .breadcrumb__link {
                    text-transform: uppercase;
                    font-size: 0.75rem;
                }
            }
        }
    }
        
}
main {
    .news {
        display: block;
        padding: 70px 20px 16px 20px;
        .news__list {
            ul {
                li {
                    display: flex;
                    align-items: flex-start;
                    .news__list_body {
                        line-height: 1.8;
                        .news__list_link {
                            display: block;
                            padding: 4px 0 0 0;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .pagenation {
            width: 100%;
            text-align: center;
            margin-top: 40px;
            ul {
                display: flex;
                justify-content: center;
                li {
                    .pagenation__link_current {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 1.2rem;
                        background-color: #F1EAF8;
                        width:45px;
                        height:45px;
                        border-radius: 50%;
                    }
                    .pagenation__link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 1.2rem;
                        color: #fff;
                        background-image: linear-gradient(135deg, #7633a4, #250d65);
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .service {
        .service__inner {
            max-width: 1140px;
            margin: 0 auto;
            padding: 72px 16px 20px 16px;
            .service__content {
                display: flex;
                &:not(:last-child) {
                    margin-bottom: 60px;
                }
                .service__img {
                    flex: 0 0 40%;
                    margin-right: 50px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .service__content_card {
                    .service__content_title {
                        font-weight: bold;
                        font-size: 1.5rem;
                        padding: 8px 0 8px 0;
                    }
                    .service__content_text {
                        margin-top: 20px;
                        font-size: 0.95rem;
                        letter-spacing: -0.2px;
                        line-height: 1.8;

                    }
                }
            }
        }
    }
    .works {
        .works__inner {
            display: flex;
            flex-wrap: wrap;
            max-width: 1140px;
            margin: 0 auto;
            padding: 30px 15px 0 15px;
            .works__card {
                flex: 0 1 31.5%;
                margin-right: 30px;
                margin-bottom: 32px;
                text-align: center;
                .works__card_link {
                    &:hover {
                        text-decoration: underline;
                    }
                    .works__card_img {
                        img {
                            width: 100%;
                            height: auto;
                            box-shadow: 0 0 15px;
                        }
                    }
                    .works__card_title {
                        margin-top: 20px;
                    }
                }
            }
            .col3 {
                margin-right: 0;
            }
        }
    }
    .company {
        height: auto;
        margin: 0;
        background-position: center -20px, center 40px;
        .wrapper {
            margin-top: -40px;
            .message-title {
                font-weight: bold;
                font-size: 2rem;
                color: #391e88;
            }
        }
    }
    .greeting {
        .greeting__wrapper {
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            padding: 15px 15px;
            .greeting__ceo-img {
                flex: 0 0 40%;
                margin-right: 50px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .greeting__text {
                font-size: 0.94rem;
                line-height: 1.8;
            }
        }
    }
    .info {
        margin-top: 120px;
        padding: 0 15px;
        .info__wrapper {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 15px 0 15px;
            .info__heading {
                text-align: center;
                font-weight: bold;
                font-size: 2rem;
                color: #391e88;
            }
            .info__table {
                width: 100%;
                margin-top: 28px;
                tbody {
                    
                    tr {
                        border-bottom: 1px solid #ddd;
                        font-size: 0.93rem;
                        th {
                            width: 20%;
                            padding: 36px 0 36px 12px;
                        }
                        td {
                            padding: 36px 0 36px 12px;
                        }
                    }
                    
                }  
            }
        }
    }
    .access {
        margin-top: 60px;
        .access__wrapper {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 15px 20px 15px;
            .access__map {
                iframe {
                    width: 100%;
                }
            }
            .access__link {
                padding: 8px 0 8px 0;
                a {
                    display: block;
                    font-size: 0.9rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }       
        }
    }
    .recruit {
        background-image: url(images/bg-geometry.png);
        background-repeat: repeat;
        .recruit__wrapper {
            width: 100%;
            padding: 94px 0 60px 0;
            .recruit__message {
                text-align: center;
                .recruit__message_heading {
                    font-weight: bold;
                    font-size: 4.5rem;
                    color: #391e88;
                }
                .recruit__message_heading-sub {
                    font-size: 2rem;
                    color: #391e88;
                    margin-top: 16px;
                }
                .recruit__message_text {
                    margin-top: 30px;
                    line-height: 1.8;
                }
            }
            .recruit__image_wrapper {
                background-image: url(images/recruit01.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center 80%;
                clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
                height: 780px;
                margin-top: 40px;
            }
            .recruit__details {
                max-width: 1140px;
                margin: 0 auto;
                padding: 0 15px;
                .recruit__details_heading {
                    margin-top: 68px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 2rem;
                    color: #391e88;
                }
                .recruit__details_table {
                    background-color: #fff;
                    border: 1px solid #b067cf;
                    border-radius: 6px;
                    margin: 28px auto 0 auto;
                    padding: 70px 100px;
                    .recruit__details_table-heading {
                        text-align: center;
                        font-weight: bold;
                        font-size: 1.5rem;
                    }
                    .recruit__details_table-list {
                        display: table;
                        width: 100%;
                        margin-top: 40px;
                        font-size: 0.95rem;
                        tbody {
                            tr {
                                border-bottom: 1px solid #ddd;
                                th {
                                    width: 20%;
                                    padding: 36px 8px;
                                    vertical-align: middle;
                                }
                                td {
                                    padding: 36px 8px;
                                    
                                }
                                &:last-child {
                                    line-height: 1.8;
                                    td {
                                        ul {
                                            margin-top: 8px;
                                            margin-left: 20px;
                                            li {
                                                list-style: disc;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .link {
                        text-align: center;
                        margin-top: 52px;
                        padding-right: 8px;
                        .btn {
                            position: relative;
                            display: inline-block;
                            width: 200px;
                            border: 1px solid #FFF;
                            border-radius: 50px;
                            background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
                            padding: 24px;
                            color: #FFF;
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: bold;
                            letter-spacing: 0.1rem;
                            line-height: 0.8;
                        }
                        .btn::after {
                            content: '';
                            position: absolute;
                            left: 170px;
                            width: 4px;
                            height: 4px;
                            border: 5px solid transparent;
                            border-left: 5px solid #FFF;
                        }
                        .link-note {
                            display: block;
                            margin-top: 8px;
                            font-size: 0.75rem;
                        }
                    }
                }
            }
            .recruit__company-movie {
                .recruit__company-movie_wrapper {
                    max-width: 1140px;
                    margin: 0 auto;
                    padding: 0 15px 100px 15px;
                    .recruit__company-movie_heading {
                        text-align: center;
                        margin-top: 140px;
                        text-align: center;
                        font-weight: bold;
                        font-size: 2rem;
                        color: #391e88;
                    }
                    .recruit__company-movie_youtube {
                        position: relative;
                        height: 0;
                        margin-top: 40px;
                        padding: 0 0 56.25%;
                        overflow: hidden;
                        iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }    
            }
        }
    }
    .contact {
        margin-top: 0;
        .contact__wrapper {
            max-width: 950px;
            margin: 76px auto 0 auto;
            padding: 0 15px;

            .contact__wrapper_lead {
                text-align: center;
                font-size: 0.95rem;
            }
            .contact__wrapper_body {
                background-color: #f7f7f7;
                .contact__form {
                    margin: 44px 0 70px 0;
                    padding: 90px;
                    .form__item {
                        &:not(:last-child) {
                            margin-bottom: 30px;
                        }
                        .form__title {
                            display: block;
                            font-weight: bold;
                            margin-bottom: 5px;
                            padding: 4px 0;
                            .form__require {
                                margin-left: 10px;
                                color: #391e88;
                                font-size: 0.75rem;
                            }
                            .form__note {
                                font-weight: normal;
                                margin-left: 5px;
                                font-size: 0.75rem;
                            }
                        }
                        .form__radio {
                            font-size: 0.9rem;
                            &:not(:last-child) {
                                margin-right: 35px;
                            }
                        }
                        .form__input {
                            width: 300px;
                            padding: 12px;
                            border: 1px solid #aaa;
                            border-radius: 5px;
                            background-color: #fff;
                            &[type="tel"] {
                                width: 200px;
                            }
                        }
                        .form__textarea {
                            min-width: 600px;
                            min-height: 200px;
                            padding: 8px;
                            border: solid 1px #aaa;
                            border-radius: 5px;
                            background-color: #fff;
                        }
                        .form__select {
                            width: 300px;
                            padding: 12px;
                            border: 1px solid #aaa;
                            border-radius: 5px;
                            background-color: #fff;
                        }
                    }
                    .form__btn {
                        text-align: center;
                        .btn {
                            position: relative;
                            display: inline-block;
                            width: 200px;
                            border: 1px solid #FFF;
                            border-radius: 50px;
                            background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
                            padding: 24px;
                            color: #FFF;
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: bold;
                            letter-spacing: 0.1rem;
                            line-height: 0.8;
                            &::after {
                                content: '';
                                position: absolute;
                                left: 170px;
                                width: 4px;
                                height: 4px;
                                border: 5px solid transparent;
                                border-left: 5px solid #FFF;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #sub-header {
        height: 180px;
        .header__top {
            padding: 20px 15px;
            &.active {
                background-color: #21054d;
                padding: 20px 15px;
            }
            .header__logo {
                a {
                    img {
                        width: 120px;
                    }
                }
            }
            .global-nav {
                position: fixed;
                z-index: -1;
                opacity: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                transition: all 0.3s;
                background-image: linear-gradient(135deg, #7633a4, #250d65);
                &.active {
                    opacity: 1;
                    z-index: 999;
                    ul {
                        display: block;
                        width: 100%;
                    }
                }
                ul {
                    display: none;
                    position: absolute;
                    z-index: 999;
                    top: 80%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    li {
                        text-align: center;
                        width: 100%;
                        padding: 5px 0;
                        a {
                            color: #fff;
                            text-decoration: none;
                            padding: 10px;
                            display: block;
                            font-size: 1rem;
                            text-transform: uppercase;
                            letter-spacing: 0.1em;
                            font-weight: bold;
                        }
                    }
                }
                
            }
            .openbtn {
                display: flex;
                position: fixed;
                z-index: 9999;
                top: 6px;
                right: 12px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                span {
                    display: inline-block;
                    transition: all .4s;
                    position: absolute;
                    left: 14px;
                    height: 3px;
                    border-radius: 2px;
                    background-color: #fff;
                    width: 45%;
                    &:nth-of-type(1) {
                        top: 15px;
                    }
                    &:nth-of-type(2) {
                        top: 23px;
                    }
                    &:nth-of-type(3) {
                        top: 31px;
                    } 
                }
                &.active {
                    span {
                        &:nth-of-type(1) {
                            top: 18px;
                            left: 18px;
                            transform: translateY(6px) rotate(-45deg);
                            width: 30%;
                        }
                        &:nth-of-type(2) {
                            opacity: 0;
                        }
                        &:nth-of-type(3) {
                            top: 30px;
                            left: 18px;
                            transform: translateY(-6px) rotate(45deg);
                            width: 30%;
                        }
                    }
                }
            }
        }
        .header-title {
            width: 80%;
            margin: 8px auto;
            text-align: center;
            .main-title {
                font-size: 1.9rem;
                line-height: 1;
            }
            .sub-title {
                font-size: 0.8rem;
                line-height: 1.7;
                .br_sp {
                    display: block;
                }
            }
        }
        .link {
            width: 80%;
            margin: 56px auto 240px auto;
            text-align: left;
            .btn {
                text-align: center;
            }
        }
        .scroll {
            bottom: -24px;
        }
    }
    .breadcrumb {
        .breadcrumb__inner {
            height: 35px;
            .breadcrumb__list {
                height: 35px;
                .breadcrumb__item {
                    .breadcrumb__link {
                        font-size: 0.65rem;
                    }
                }
            }
        }
    }
    main {
        .news {
            padding: 40px 0 80px 0;
            width: 100%;
            .news__list {
                padding: 0 16px;
                ul {
                    li {
                        flex-direction: column;
                        .news__list_heading {
                            .news__list_time {
                                font-size: 0.85rem;
                            }
                        }
                        .news__list_body {
                            line-height: 1.6;
                        }
                    }
                }
            }
        }
    }

    #page_top {
        right: 20px;
        bottom: 20px;
    }
}