body {
  font-family: "Montserrat", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
}

#sub-header {
  position: relative;
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  height: 240px;
  padding-top: 80px;
}

#sub-header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 10;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  padding: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#sub-header .header__top.active {
  background-color: #21054d;
  padding: 24px 30px;
}

#sub-header .header__top .header__logo a img {
  vertical-align: middle;
}

#sub-header .header__top .global-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#sub-header .header__top .global-nav ul li:not(:last-child) {
  margin-right: 24px;
}

#sub-header .header__top .global-nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-transform: uppercase;
}

#sub-header .header__top .global-nav ul li a {
  height: 100%;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-bottom: 4px;
  position: relative;
}

#sub-header .header__top .global-nav ul li a::after {
  background-color: #fff;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition: .5s all;
  transition: .5s all;
  width: 0;
}

#sub-header .header__top .global-nav ul li a:hover::after {
  width: 100%;
}

#sub-header .header__top .openbtn {
  display: none;
}

#sub-header .header-title {
  text-align: center;
  margin: 32px auto 0 auto;
}

#sub-header .header-title .main-title {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.1rem;
}

#sub-header .header-title .sub-title {
  margin-top: 4px;
  font-weight: 400;
  font-size: 13px;
  font-weight: bold;
}

#sub-header .header-title .sub-title .br_sp {
  display: none;
}

#sub-header .link {
  text-align: center;
  margin: 56px 0 240px 0;
}

#sub-header .link .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  padding: 24px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

#sub-header .link .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

.breadcrumb {
  margin: 0 auto;
  background-color: #F0F0F0;
}

.breadcrumb .breadcrumb__inner {
  max-width: 1140px;
  margin: 0 auto;
}

.breadcrumb .breadcrumb__inner .breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  padding: 0 16px;
}

.breadcrumb .breadcrumb__inner .breadcrumb__list .breadcrumb__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb .breadcrumb__inner .breadcrumb__list .breadcrumb__item::after {
  padding: .005em .8em;
  content: ">";
  color: #555;
  font-size: .75rem;
}

.breadcrumb .breadcrumb__inner .breadcrumb__list .breadcrumb__item:last-child::after {
  content: "";
}

.breadcrumb .breadcrumb__inner .breadcrumb__list .breadcrumb__item .breadcrumb__link {
  text-transform: uppercase;
  font-size: 0.75rem;
}

main .news {
  display: block;
  padding: 70px 20px 16px 20px;
}

main .news .news__list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .news .news__list ul li .news__list_body {
  line-height: 1.8;
}

main .news .news__list ul li .news__list_body .news__list_link {
  display: block;
  padding: 4px 0 0 0;
}

main .news .news__list ul li .news__list_body .news__list_link:hover {
  text-decoration: underline;
}

main .news .pagenation {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

main .news .pagenation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .news .pagenation ul li .pagenation__link_current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #F1EAF8;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

main .news .pagenation ul li .pagenation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(135deg, #7633a4, #250d65);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
}

main .service .service__inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 72px 16px 20px 16px;
}

main .service .service__inner .service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .service .service__inner .service__content:not(:last-child) {
  margin-bottom: 60px;
}

main .service .service__inner .service__content .service__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-right: 50px;
}

main .service .service__inner .service__content .service__img img {
  width: 100%;
  height: auto;
}

main .service .service__inner .service__content .service__content_card .service__content_title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 8px 0 8px 0;
}

main .service .service__inner .service__content .service__content_card .service__content_text {
  margin-top: 20px;
  font-size: 0.95rem;
  letter-spacing: -0.2px;
  line-height: 1.8;
}

main .works .works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 15px 0 15px;
}

main .works .works__inner .works__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.5%;
          flex: 0 1 31.5%;
  margin-right: 30px;
  margin-bottom: 32px;
  text-align: center;
}

main .works .works__inner .works__card .works__card_link:hover {
  text-decoration: underline;
}

main .works .works__inner .works__card .works__card_link .works__card_img img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 15px;
          box-shadow: 0 0 15px;
}

main .works .works__inner .works__card .works__card_link .works__card_title {
  margin-top: 20px;
}

main .works .works__inner .col3 {
  margin-right: 0;
}

main .company {
  height: auto;
  margin: 0;
  background-position: center -20px, center 40px;
}

main .company .wrapper {
  margin-top: -40px;
}

main .company .wrapper .message-title {
  font-weight: bold;
  font-size: 2rem;
  color: #391e88;
}

main .greeting .greeting__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px;
}

main .greeting .greeting__wrapper .greeting__ceo-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-right: 50px;
}

main .greeting .greeting__wrapper .greeting__ceo-img img {
  width: 100%;
  height: auto;
}

main .greeting .greeting__wrapper .greeting__text {
  font-size: 0.94rem;
  line-height: 1.8;
}

main .info {
  margin-top: 120px;
  padding: 0 15px;
}

main .info .info__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

main .info .info__wrapper .info__heading {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #391e88;
}

main .info .info__wrapper .info__table {
  width: 100%;
  margin-top: 28px;
}

main .info .info__wrapper .info__table tbody tr {
  border-bottom: 1px solid #ddd;
  font-size: 0.93rem;
}

main .info .info__wrapper .info__table tbody tr th {
  width: 20%;
  padding: 36px 0 36px 12px;
}

main .info .info__wrapper .info__table tbody tr td {
  padding: 36px 0 36px 12px;
}

main .access {
  margin-top: 60px;
}

main .access .access__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px 20px 15px;
}

main .access .access__wrapper .access__map iframe {
  width: 100%;
}

main .access .access__wrapper .access__link {
  padding: 8px 0 8px 0;
}

main .access .access__wrapper .access__link a {
  display: block;
  font-size: 0.9rem;
}

main .access .access__wrapper .access__link a:hover {
  text-decoration: underline;
}

main .recruit {
  background-image: url(images/bg-geometry.png);
  background-repeat: repeat;
}

main .recruit .recruit__wrapper {
  width: 100%;
  padding: 94px 0 60px 0;
}

main .recruit .recruit__wrapper .recruit__message {
  text-align: center;
}

main .recruit .recruit__wrapper .recruit__message .recruit__message_heading {
  font-weight: bold;
  font-size: 4.5rem;
  color: #391e88;
}

main .recruit .recruit__wrapper .recruit__message .recruit__message_heading-sub {
  font-size: 2rem;
  color: #391e88;
  margin-top: 16px;
}

main .recruit .recruit__wrapper .recruit__message .recruit__message_text {
  margin-top: 30px;
  line-height: 1.8;
}

main .recruit .recruit__wrapper .recruit__image_wrapper {
  background-image: url(images/recruit01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  height: 780px;
  margin-top: 40px;
}

main .recruit .recruit__wrapper .recruit__details {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_heading {
  margin-top: 68px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #391e88;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table {
  background-color: #fff;
  border: 1px solid #b067cf;
  border-radius: 6px;
  margin: 28px auto 0 auto;
  padding: 70px 100px;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .recruit__details_table-heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .recruit__details_table-list {
  display: table;
  width: 100%;
  margin-top: 40px;
  font-size: 0.95rem;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .recruit__details_table-list tbody tr {
  border-bottom: 1px solid #ddd;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .recruit__details_table-list tbody tr th {
  width: 20%;
  padding: 36px 8px;
  vertical-align: middle;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .recruit__details_table-list tbody tr td {
  padding: 36px 8px;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .recruit__details_table-list tbody tr:last-child {
  line-height: 1.8;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .recruit__details_table-list tbody tr:last-child td ul {
  margin-top: 8px;
  margin-left: 20px;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .recruit__details_table-list tbody tr:last-child td ul li {
  list-style: disc;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .link {
  text-align: center;
  margin-top: 52px;
  padding-right: 8px;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .link .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7633a4), color-stop(51%, #250d65), to(#7633a4));
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  padding: 24px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .link .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

main .recruit .recruit__wrapper .recruit__details .recruit__details_table .link .link-note {
  display: block;
  margin-top: 8px;
  font-size: 0.75rem;
}

main .recruit .recruit__wrapper .recruit__company-movie .recruit__company-movie_wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px 100px 15px;
}

main .recruit .recruit__wrapper .recruit__company-movie .recruit__company-movie_wrapper .recruit__company-movie_heading {
  text-align: center;
  margin-top: 140px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #391e88;
}

main .recruit .recruit__wrapper .recruit__company-movie .recruit__company-movie_wrapper .recruit__company-movie_youtube {
  position: relative;
  height: 0;
  margin-top: 40px;
  padding: 0 0 56.25%;
  overflow: hidden;
}

main .recruit .recruit__wrapper .recruit__company-movie .recruit__company-movie_wrapper .recruit__company-movie_youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .contact {
  margin-top: 0;
}

main .contact .contact__wrapper {
  max-width: 950px;
  margin: 76px auto 0 auto;
  padding: 0 15px;
}

main .contact .contact__wrapper .contact__wrapper_lead {
  text-align: center;
  font-size: 0.95rem;
}

main .contact .contact__wrapper .contact__wrapper_body {
  background-color: #f7f7f7;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form {
  margin: 44px 0 70px 0;
  padding: 90px;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__item:not(:last-child) {
  margin-bottom: 30px;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__item .form__title {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 4px 0;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__item .form__title .form__require {
  margin-left: 10px;
  color: #391e88;
  font-size: 0.75rem;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__item .form__title .form__note {
  font-weight: normal;
  margin-left: 5px;
  font-size: 0.75rem;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__item .form__radio {
  font-size: 0.9rem;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__item .form__radio:not(:last-child) {
  margin-right: 35px;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__item .form__input {
  width: 300px;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__item .form__input[type="tel"] {
  width: 200px;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__item .form__textarea {
  min-width: 600px;
  min-height: 200px;
  padding: 8px;
  border: solid 1px #aaa;
  border-radius: 5px;
  background-color: #fff;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__item .form__select {
  width: 300px;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__btn {
  text-align: center;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__btn .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7633a4), color-stop(51%, #250d65), to(#7633a4));
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  padding: 24px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

main .contact .contact__wrapper .contact__wrapper_body .contact__form .form__btn .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

@media screen and (max-width: 768px) {
  #sub-header {
    height: 180px;
  }
  #sub-header .header__top {
    padding: 20px 15px;
  }
  #sub-header .header__top.active {
    background-color: #21054d;
    padding: 20px 15px;
  }
  #sub-header .header__top .header__logo a img {
    width: 120px;
  }
  #sub-header .header__top .global-nav {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-image: linear-gradient(135deg, #7633a4, #250d65);
  }
  #sub-header .header__top .global-nav.active {
    opacity: 1;
    z-index: 999;
  }
  #sub-header .header__top .global-nav.active ul {
    display: block;
    width: 100%;
  }
  #sub-header .header__top .global-nav ul {
    display: none;
    position: absolute;
    z-index: 999;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #sub-header .header__top .global-nav ul li {
    text-align: center;
    width: 100%;
    padding: 5px 0;
  }
  #sub-header .header__top .global-nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  #sub-header .header__top .openbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 6px;
    right: 12px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  #sub-header .header__top .openbtn span {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    width: 45%;
  }
  #sub-header .header__top .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  #sub-header .header__top .openbtn span:nth-of-type(2) {
    top: 23px;
  }
  #sub-header .header__top .openbtn span:nth-of-type(3) {
    top: 31px;
  }
  #sub-header .header__top .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  #sub-header .header__top .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sub-header .header__top .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  #sub-header .header-title {
    width: 80%;
    margin: 8px auto;
    text-align: center;
  }
  #sub-header .header-title .main-title {
    font-size: 1.9rem;
    line-height: 1;
  }
  #sub-header .header-title .sub-title {
    font-size: 0.8rem;
    line-height: 1.7;
  }
  #sub-header .header-title .sub-title .br_sp {
    display: block;
  }
  #sub-header .link {
    width: 80%;
    margin: 56px auto 240px auto;
    text-align: left;
  }
  #sub-header .link .btn {
    text-align: center;
  }
  #sub-header .scroll {
    bottom: -24px;
  }
  .breadcrumb .breadcrumb__inner {
    height: 35px;
  }
  .breadcrumb .breadcrumb__inner .breadcrumb__list {
    height: 35px;
  }
  .breadcrumb .breadcrumb__inner .breadcrumb__list .breadcrumb__item .breadcrumb__link {
    font-size: 0.65rem;
  }
  main .news {
    padding: 40px 0 80px 0;
    width: 100%;
  }
  main .news .news__list {
    padding: 0 16px;
  }
  main .news .news__list ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .news .news__list ul li .news__list_heading .news__list_time {
    font-size: 0.85rem;
  }
  main .news .news__list ul li .news__list_body {
    line-height: 1.6;
  }
  main .service .service__inner {
    width: 100%;
    padding: 40px 15px;
  }
  main .service .service__inner .service__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  main .service .service__inner .service__content .service__img {
    margin-right: 0;
  }
  main .service .service__inner .service__content .service__content_card .service__content_title {
    font-size: 1.1rem;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0;
  }
  main .service .service__inner .service__content .service__content_card .service__content_text {
    margin-top: 16px;
    font-size: 0.9rem;
    letter-spacing: -0.4px;
  }
  main .works .works__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px 40px 15px;
  }
  main .works .works__inner .works__card {
    margin-right: 0;
    margin-bottom: 48px;
  }
  #page_top {
    right: 20px;
    bottom: 20px;
  }
}
/*# sourceMappingURL=common.css.map */