body {
  font-family: "Montserrat", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
}

#header {
  position: relative;
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  height: 736px;
  padding-top: 80px;
}

#header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 10;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  padding: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#header .header__top.active {
  background-color: #21054d;
  padding: 24px 30px;
}

#header .header__top .header__logo a img {
  vertical-align: middle;
}

#header .header__top .global-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#header .header__top .global-nav ul li:not(:last-child) {
  margin-right: 24px;
}

#header .header__top .global-nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-transform: uppercase;
}

#header .header__top .global-nav ul li a {
  height: 100%;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-bottom: 4px;
  position: relative;
}

#header .header__top .global-nav ul li a::after {
  background-color: #fff;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition: .5s all;
  transition: .5s all;
  width: 0;
}

#header .header__top .global-nav ul li a:hover::after {
  width: 100%;
}

#header .header__top .openbtn {
  display: none;
}

#header .header-title {
  text-align: center;
  margin: 160px auto 0 auto;
}

#header .header-title .main-title {
  font-weight: bold;
  font-size: 72px;
}

#header .header-title .sub-title {
  margin-top: 24px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.1em;
}

#header .header-title .sub-title .br_sp {
  display: none;
}

#header .link {
  text-align: center;
  margin: 56px 0 240px 0;
}

#header .link .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  padding: 24px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

#header .link .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

#header .scroll {
  position: absolute;
  right: 20px;
  bottom: 0;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  padding: 10px 10px 90px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.75rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

#header .scroll::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80px;
  bottom: 0;
  left: 50%;
  background: #fff;
  -webkit-animation: scrollDownLine 1.5s cubic-bezier(1, 0, 0, 1) infinite;
          animation: scrollDownLine 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@-webkit-keyframes scrollDownLine {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes scrollDownLine {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

main .news {
  max-width: 960px;
  margin: 0 auto;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .news .title {
  color: #391e88;
  font-weight: bold;
  margin-right: 32px;
  padding: 0 20px;
}

main .news .title .main-title {
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

main .news .title .sub-title {
  font-size: 0.8rem;
  margin-top: 8px;
}

main .news .news__list {
  padding: 0 24px 0 0;
}

main .news .news__list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 14px;
}

main .news .news__list ul li .news__list_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .news .news__list ul li .news__list_heading .news__list_time {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .news .news__list ul li .news__list_heading .news__list_label {
  width: 80px;
  height: 28px;
  text-align: center;
  background-color: #e8e8e8;
  border-radius: 20px;
  margin: 0 20px;
  padding: 8px 12px;
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
}

main .news .news__list ul li .news__list_body {
  letter-spacing: 0.4px;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

main .service .container {
  max-width: 1140px;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0;
}

main .service .container .title {
  color: #391e88;
  font-weight: bold;
}

main .service .container .title .main-title {
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

main .service .container .title .sub-title {
  font-size: 0.8rem;
  margin-top: 8px;
}

main .service .container .contents .wrapper {
  margin-top: 12px;
  padding: 16px;
}

main .service .container .contents .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .service .container .contents .wrapper ul li {
  width: 31.5%;
}

main .service .container .contents .wrapper ul li figure img {
  width: 100%;
  height: auto;
}

main .service .container .contents .wrapper ul li h3 {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 16px 0;
}

main .service .container .contents .wrapper ul li p {
  font-size: 0.9rem;
  letter-spacing: 0.6px;
  line-height: 1.7rem;
  text-align: start;
}

main .service .container .contents .link {
  text-align: center;
  margin-top: 12px;
}

main .service .container .contents .link .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7633a4), color-stop(51%, #250d65), to(#7633a4));
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  padding: 24px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

main .service .container .contents .link .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

main .works {
  margin-top: 40px;
}

main .works .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 20px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .works .container::after {
  position: absolute;
  top: 5%;
  right: 0;
  z-index: -1;
  width: 60%;
  height: 100%;
  content: "";
  background-color: #f0f0f0;
}

main .works .container .swiper-container {
  max-width: 750px;
  width: 60%;
  margin: 30px 0;
}

main .works .container .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  vertical-align: bottom;
}

main .works .container .contents {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

main .works .container .contents .title {
  color: #391e88;
  font-weight: bold;
}

main .works .container .contents .title .main-title {
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

main .works .container .contents .title .sub-title {
  font-size: 0.8rem;
  margin-top: 8px;
}

main .works .container .contents .works_text {
  margin: 30px 0;
  font-size: 0.9rem;
  letter-spacing: 0.7px;
  line-height: 1.7rem;
}

main .works .container .contents .link {
  text-align: center;
  margin-top: 12px;
}

main .works .container .contents .link .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7633a4), color-stop(51%, #250d65), to(#7633a4));
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  padding: 24px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

main .works .container .contents .link .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

main .company {
  width: 100%;
  height: 680px;
  margin: 60px 0 40px 0;
  padding: 140px 0 120px 0;
  background-image: url(images/bg-circle.png), url(images/bg-face.png);
  background-position: center center, center center;
  background-repeat: no-repeat;
  text-align: center;
}

main .company .wrapper .title {
  color: #391e88;
  font-weight: bold;
}

main .company .wrapper .title .main-title {
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

main .company .wrapper .title .sub-title {
  font-size: 0.8rem;
  margin-top: 8px;
}

main .company .wrapper .message-heading {
  display: inline-block;
  padding: 32px 0 0 0;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(0%, #f5f534));
  background: linear-gradient(transparent 80%, #f5f534 0%);
}

main .company .wrapper .message-heading .br_sp {
  display: none;
}

main .company .wrapper .message-text {
  padding: 40px 0 20px 0;
  font-size: 0.9rem;
  line-height: 1.9;
  letter-spacing: 0.7px;
}

main .company .wrapper .message-text .br_sp {
  display: none;
}

main .company .wrapper .link {
  text-align: center;
  margin-top: 12px;
}

main .company .wrapper .link .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7633a4), color-stop(51%, #250d65), to(#7633a4));
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  padding: 24px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

main .company .wrapper .link .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

main .recruit .wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .recruit .wrapper .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f0f0f0;
}

main .recruit .wrapper .contents .title {
  color: #391e88;
  font-weight: bold;
}

main .recruit .wrapper .contents .title .main-title {
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

main .recruit .wrapper .contents .title .sub-title {
  font-size: 0.8rem;
  margin-top: 8px;
}

main .recruit .wrapper .contents .message-text {
  margin: 36px 0 20px 0;
  font-size: 0.95rem;
}

main .recruit .wrapper .contents .link {
  text-align: center;
  margin-top: 12px;
  padding-right: 8px;
}

main .recruit .wrapper .contents .link .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7633a4), color-stop(51%, #250d65), to(#7633a4));
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  padding: 24px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

main .recruit .wrapper .contents .link .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

main .recruit .wrapper .recruit__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

main .recruit .wrapper .recruit__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
}

main .contact {
  width: 100%;
  margin-top: 94px;
}

main .contact .wrapper {
  background-color: #f0f0f0;
  text-align: center;
  padding: 84px 16px;
}

main .contact .wrapper .title {
  color: #391e88;
  font-weight: bold;
}

main .contact .wrapper .title .main-title {
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

main .contact .wrapper .title .sub-title {
  font-size: 0.8rem;
  margin-top: 8px;
}

main .contact .wrapper .contact__text {
  font-size: 0.95rem;
  margin: 32px auto 24px auto;
}

main .contact .wrapper .contact__text .br_sp {
  display: none;
}

main .contact .wrapper .link {
  text-align: center;
  margin-top: 12px;
}

main .contact .wrapper .link .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7633a4), color-stop(51%, #250d65), to(#7633a4));
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  padding: 24px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

main .contact .wrapper .link .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

footer {
  background-color: #120e19;
  padding: 60px 30px 20px;
}

footer .footer__nav {
  margin: 0 auto;
  color: #fff;
}

footer .footer__nav .link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__nav .link-list ul li:not(:last-child) {
  margin-right: 10px;
}

footer .footer__nav .link-list ul li a {
  display: block;
  padding: 4px;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

footer .footer__nav .copyright {
  margin-top: 32px;
  text-align: center;
  font-size: 10px;
  color: #a798b7;
}

#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 45px;
  bottom: 45px;
  background: #391E88;
  opacity: 0.9;
  border-radius: 50%;
}

#page_top a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 960px) {
  header .header__top .global-nav ul li a {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    overflow: hidden;
  }
  header {
    height: 800px;
  }
  header .header__top {
    padding: 20px 15px;
  }
  header .header__top .header__logo a img {
    width: 120px;
  }
  header .header__top .global-nav {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-image: linear-gradient(135deg, #7633a4, #250d65);
  }
  header .header__top .global-nav.active {
    opacity: 1;
    z-index: 999;
  }
  header .header__top .global-nav.active ul {
    display: block;
    width: 100%;
  }
  header .header__top .global-nav ul {
    display: none;
    position: absolute;
    z-index: 999;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  header .header__top .global-nav ul li {
    text-align: center;
    width: 100%;
    padding: 5px 0;
  }
  header .header__top .global-nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  header .header__top .openbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 6px;
    right: 12px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  header .header__top .openbtn span {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    width: 45%;
  }
  header .header__top .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  header .header__top .openbtn span:nth-of-type(2) {
    top: 23px;
  }
  header .header__top .openbtn span:nth-of-type(3) {
    top: 31px;
  }
  header .header__top .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  header .header__top .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  header .header__top .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  header .header-title {
    width: 80%;
    margin: 120px auto 0 auto;
    text-align: left;
  }
  header .header-title .main-title {
    font-size: 3rem;
    line-height: 1.4;
  }
  header .header-title .sub-title {
    font-size: 1rem;
    line-height: 1.7;
  }
  header .header-title .sub-title .br_sp {
    display: block;
  }
  header .link {
    width: 80%;
    margin: 56px auto 240px auto;
    text-align: left;
  }
  header .link .btn {
    text-align: center;
  }
  header .scroll {
    bottom: -24px;
  }
  main .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0 48px 0;
  }
  main .news .title {
    text-align: center;
    margin: 0 auto 28px auto;
  }
  main .news .title .main-title {
    font-size: 1.8rem;
  }
  main .news .news__list {
    padding: 0 16px;
  }
  main .news .news__list ul li {
    display: block;
    margin-bottom: 32px;
  }
  main .news .news__list ul li .news__list_heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .news .news__list ul li .news__list_heading .news__list_time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .news .news__list ul li .news__list_heading .news__list_label {
    font-size: 0.7rem;
    height: 24px;
    padding: 6px 12px;
  }
  main .news .news__list ul li .news__list_body {
    margin-top: 4px;
    font-size: 0.875rem;
    letter-spacing: 0;
  }
  main .service .container {
    padding: 0;
  }
  main .service .container .title .main-title {
    font-size: 1.8rem;
  }
  main .service .container .contents .wrapper ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .service .container .contents .wrapper ul li {
    width: 100%;
    margin-bottom: 48px;
  }
  main .service .container .contents .wrapper ul li:last-child {
    margin-bottom: 0;
  }
  main .service .container .contents .wrapper ul li h3 {
    margin: 12px 0;
  }
  main .service .container .contents .wrapper ul li p {
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.5rem;
  }
  main .works .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .works .container .swiper-container {
    width: 100%;
    margin: 52px 0;
  }
  main .works .container .contents .title .main-title {
    font-size: 1.8rem;
  }
  main .works .container .contents .works_text {
    letter-spacing: 0;
    line-height: 1.6rem;
  }
  main .works .container::after {
    width: 100%;
    top: 40%;
    height: 64%;
  }
  main .company {
    margin: 0 0 10px 0;
    padding: 120px 0 120px 0;
    background-image: url(images/bg-circle.png);
    background-position: center center;
    background-size: 375px;
  }
  main .company .wrapper .title {
    margin-bottom: 32px;
  }
  main .company .wrapper .title .main-title {
    font-size: 1.8rem;
  }
  main .company .wrapper .message-heading {
    display: inline;
    padding: 0;
    font-size: 2rem;
    line-height: 1.5;
  }
  main .company .wrapper .message-heading .br_sp {
    display: block;
  }
  main .company .wrapper .message-text {
    font-size: 0.9rem;
    line-height: 1.8;
    letter-spacing: 0;
  }
  main .company .wrapper .message-text .br_sp {
    display: block;
  }
  main .recruit .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .recruit .wrapper .contents {
    padding: 60px 0 60px 0;
  }
  main .recruit .wrapper .contents .title .main-title {
    font-size: 1.8rem;
  }
  main .recruit .wrapper .contents .message-text {
    font-size: 0.9rem;
  }
  main .recruit .wrapper .recruit__img img {
    width: 100%;
    height: 140px;
  }
  main .contact {
    margin-top: 60px;
  }
  main .contact .wrapper {
    padding: 60px 16px;
  }
  main .contact .wrapper .title .main-title {
    font-size: 1.8rem;
  }
  main .contact .wrapper .contact__text {
    font-size: 0.9rem;
    letter-spacing: -0.4px;
    line-height: 1.8;
    margin: 32px auto 20px auto;
  }
  main .contact .wrapper .contact__text .br_sp {
    display: block;
  }
  footer .footer__nav .link-list ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer__nav .link-list ul li {
    margin-bottom: 10px;
  }
  footer .footer__nav .copyright {
    margin-top: 24px;
  }
  #page_top {
    display: block;
    z-index: 9999;
  }
}
/*# sourceMappingURL=style.css.map */