body {
    font-family: "Montserrat", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: #333;
}

header {
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFF;
    height: 560px;
    padding-top: 80px;
    .header_top {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        top: 0;
        width: 100%;
        padding: 30px;
        .header_logo {
            a {
                img {
                    vertical-align: middle;
                }
            }
        }
        .global_nav {
            ul {
                display: flex;
                height: 100%;
                li:not(:last-child) {
                    margin-right: 24px;
                }
                li {
                    flex: 1 1;
                    text-transform: uppercase;
                    a {
                        height: 100%;
                        display: flex;   
                        align-items: center; 
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                    }
                }
            }   
        }
    }
    .header_title {
        text-align: center;
        margin-top: 72px;
        .main_title {
            font-weight: bold;
            font-size: 72px;
        }
        .sub_title {
            margin-top: 24px;
            font-weight: 400;
            font-size: 24px;
            letter-spacing: 0.1em;
        }
    }
    .link {
        text-align: center;
        margin-top: 56px;
        .btn {
            position: relative;
            display: inline-block;
            width: 200px;
            border: 1px solid #FFF;
            border-radius: 50px;
            padding: 24px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.1rem;
            line-height: 0.8;
        }
        .btn::after {
            content: '';
            position: absolute;
            left: 170px;
            width: 4px;
            height: 4px;
            border: 5px solid transparent;
            border-left: 5px solid #FFF;
        }
    }
}

main {
    .news {
        max-width: 960px;
        margin: 0 auto;
        padding: 70px 0;
        display: flex;
        justify-content: space-around;
        .title {
            color: #391e88;
            font-weight: bold;
            padding: 0 16px;
            .main_title {
                text-transform: uppercase;
                font-size: 2.2rem;
                letter-spacing: 2px;
            }
            .sub_title {
                font-size: 0.8rem;
                margin-top: 8px;
            }
        }
        .news_list {
            padding: 0 24px;
            ul {
                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin-bottom: 20px;
                    .news_list_time {
                        font-size: 0.9rem;
                    }
                    .news_list_label {
                        width: 80px;
                        height: 28px;
                        text-align: center;
                        background-color: #e8e8e8;
                        border-radius: 20px;
                        margin: 0 20px;
                        padding: 8px 12px;
                        font-size: 0.8rem;
                        font-weight: bold;
                        white-space: nowrap;
                    }
                    .news_list_body {
                        letter-spacing: 0.4px;
                        line-height: 1.5rem;
                        font-size: 0.9rem;
                    }
                }   
            }
        }
    }
    .service {
        .container {
            max-width: 1140px;
            text-align: center;
            margin: 0 auto;
            padding: 60px 0;
            .title {
                color: #391e88;
                font-weight: bold;
                .main_title {
                    text-transform: uppercase;
                    font-size: 2.2rem;
                    letter-spacing: 2px;
                }
                .sub_title {
                    font-size: 0.8rem;
                    margin-top: 8px;
                }
            }
            .contents {
                .wrapper {
                    margin-top: 12px;
                    padding: 16px;
                    ul {
                        display: flex;
                        justify-content: space-between;
                        li {
                            width: 31.5%;
                            figure {
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                            h3 {
                                font-size: 1.1rem;
                                font-weight: bold;
                                letter-spacing: 0.5px;
                                margin: 16px 0;
                            }
                            p {
                                font-size: 0.9rem;
                                letter-spacing: 0.6px;
                                line-height: 1.7rem;
                                text-align: start;
                            }
                        }
                    }
                }
                .link {
                    text-align: center;
                    margin-top: 12px;
                    .btn {
                        position: relative;
                        display: inline-block;
                        width: 200px;
                        border: 1px solid #FFF;
                        border-radius: 50px;
                        background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
                        padding: 24px;
                        color: #FFF;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                        line-height: 0.8;
                    }
                    .btn::after {
                        content: '';
                        position: absolute;
                        left: 170px;
                        width: 4px;
                        height: 4px;
                        border: 5px solid transparent;
                        border-left: 5px solid #FFF;
                    }
                }
            }
        }
    }
    .works {
        margin-top: 40px;
        .container {
            max-width: 1300px;
            margin: 0 auto;
            padding: 60px 20px 30px 20px;
            display: flex;
            position: relative;
            align-items: center;
            &::after {
                position: absolute;
                top: 5%;
                right: 0;
                z-index: -1;
                width: 60%;
                height: 100%;
                content: "";
                background-color: #f0f0f0;
            }
            .swiper-container {
                max-width: 750px;
                width: 60%;
                margin: 30px 0;
                .swiper-wrapper {
                    .swiper-slide {
                        img {
                            width: 100%;
                            vertical-align: bottom;
                        }
                        
                    }
                }
            }
            .contents {
                flex: 1;
                text-align: center;
                .title {
                    color: #391e88;
                    font-weight: bold;
                    .main_title {
                        text-transform: uppercase;
                        font-size: 2.2rem;
                        letter-spacing: 2px;
                    }
                    .sub_title {
                        font-size: 0.8rem;
                        margin-top: 8px;
                    }
                }
                .works_text {
                   margin: 30px 0;
                   font-size: 0.9rem;
                   letter-spacing: 0.7px;
                   line-height: 1.7rem;
                }
                .link {
                    text-align: center;
                    margin-top: 12px;
                    .btn {
                        position: relative;
                        display: inline-block;
                        width: 200px;
                        border: 1px solid #FFF;
                        border-radius: 50px;
                        background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
                        padding: 24px;
                        color: #FFF;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                        line-height: 0.8;
                    }
                    .btn::after {
                        content: '';
                        position: absolute;
                        left: 170px;
                        width: 4px;
                        height: 4px;
                        border: 5px solid transparent;
                        border-left: 5px solid #FFF;
                    }
                }
            }
        }
        
    }
    .company {
        width: 100%;
        height: 680px;
        margin: 60px 0 40px 0;
        padding: 140px 0 120px 0;
        background-image: url(images/bg-circle.png), url(images/bg-face.png);
        background-position: center center, center center;
        background-repeat: no-repeat;
        text-align: center;
        .wrapper {
            .title {
                color: #391e88;
                font-weight: bold;
                .main_title {
                    text-transform: uppercase;
                    font-size: 2.2rem;
                    letter-spacing: 2px;
                }
                .sub_title {
                    font-size: 0.8rem;
                    margin-top: 8px;
                }
            }
            .message_heading {
                display: inline-block;
                padding: 32px 0 0 0;
                font-weight: bold;
                font-size: 2.5rem;
                line-height: 1;
                background: linear-gradient(transparent 80%, #f5f534 0%);
            }
            .message_text {
                padding: 40px 0 20px 0;
                font-size: 0.9rem;
                line-height: 1.9;
                letter-spacing: 0.7px;
            }
            .link {
                text-align: center;
                margin-top: 12px;
                .btn {
                    position: relative;
                    display: inline-block;
                    width: 200px;
                    border: 1px solid #FFF;
                    border-radius: 50px;
                    background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
                    padding: 24px;
                    color: #FFF;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 0.1rem;
                    line-height: 0.8;
                }
                .btn::after {
                    content: '';
                    position: absolute;
                    left: 170px;
                    width: 4px;
                    height: 4px;
                    border: 5px solid transparent;
                    border-left: 5px solid #FFF;
                }
            }
        }
    }
    .recruit {
        max-width: 1140px;
        margin: 0 auto;
        padding: 16px;
        .wrapper {
            width: 100%;
            display: flex;
            background-color: #f0f0f0;
            .contents {
                display: flex;
                text-align: center;
                align-items: center;
                flex: 0 0 40%;
                flex-flow: column;
                justify-content: center;
                .title {
                    color: #391e88;
                    font-weight: bold;
                    .main_title {
                        text-transform: uppercase;
                        font-size: 2.2rem;
                        letter-spacing: 2px;
                    }
                    .sub_title {
                        font-size: 0.8rem;
                        margin-top: 8px;
                    }
                }
                .message_text {
                    margin: 36px 0 20px 0;
                    font-size: 0.95rem;
                }
                .link {
                    text-align: center;
                    margin-top: 12px;
                    .btn {
                        position: relative;
                        display: inline-block;
                        width: 200px;
                        border: 1px solid #FFF;
                        border-radius: 50px;
                        background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
                        padding: 24px;
                        color: #FFF;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                        line-height: 0.8;
                    }
                    .btn::after {
                        content: '';
                        position: absolute;
                        left: 170px;
                        width: 4px;
                        height: 4px;
                        border: 5px solid transparent;
                        border-left: 5px solid #FFF;
                    }
                }
            }
            .recruit_img {
                flex: 0 0 60%;
                img {
                    object-fit: cover;
                    max-width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .contact {
        width: 100%;
        margin-top: 94px;
        .wrapper {
            background-color: #f0f0f0;
            text-align: center;
            padding: 84px 16px; 
            .title {
                color: #391e88;
                font-weight: bold;
                .main_title {
                    text-transform: uppercase;
                    font-size: 2.2rem;
                    letter-spacing: 2px;
                }
                .sub_title {
                    font-size: 0.8rem;
                    margin-top: 8px;
                }
            }
            .contact_text {
                font-size: 0.95rem;
                margin: 32px auto 24px auto;
            }
            .link {
                text-align: center;
                margin-top: 12px;
                .btn {
                    position: relative;
                    display: inline-block;
                    width: 200px;
                    border: 1px solid #FFF;
                    border-radius: 50px;
                    background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
                    padding: 24px;
                    color: #FFF;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 0.1rem;
                    line-height: 0.8;
                }
                .btn::after {
                    content: '';
                    position: absolute;
                    left: 170px;
                    width: 4px;
                    height: 4px;
                    border: 5px solid transparent;
                    border-left: 5px solid #FFF;
                }
            }
        }
    }
}

footer {
    background-color: #120e19;
    padding: 60px 30px 20px;
    .footer_nav {
        margin: 0 auto;
        
        color: #fff;
        .link_list {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                li {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                    a {
                        display: block;
                        padding: 4px;
                        font-size: 0.75rem;
                        letter-spacing: 0.1rem;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .copyright {
            margin-top: 32px;
            text-align: center;
            font-size: 10px;
            color: #a798b7;
        }
    }
}