body {
  font-family: "Montserrat", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
}

header {
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  height: 560px;
  padding-top: 80px;
}

header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  padding: 30px;
}

header .header_top .header_logo a img {
  vertical-align: middle;
}

header .header_top .global_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

header .header_top .global_nav ul li:not(:last-child) {
  margin-right: 24px;
}

header .header_top .global_nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-transform: uppercase;
}

header .header_top .global_nav ul li a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

header .header_title {
  text-align: center;
  margin-top: 72px;
}

header .header_title .main_title {
  font-weight: bold;
  font-size: 72px;
}

header .header_title .sub_title {
  margin-top: 24px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.1em;
}

header .link {
  text-align: center;
  margin-top: 56px;
}

header .link .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  padding: 24px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

header .link .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

main .news {
  max-width: 960px;
  margin: 0 auto;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .news .title {
  color: #391e88;
  font-weight: bold;
  padding: 0 16px;
}

main .news .title .main_title {
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

main .news .title .sub_title {
  font-size: 0.8rem;
  margin-top: 8px;
}

main .news .news_list {
  padding: 0 24px;
}

main .news .news_list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 20px;
}

main .news .news_list ul li .news_list_time {
  font-size: 0.9rem;
}

main .news .news_list ul li .news_list_label {
  width: 80px;
  height: 28px;
  text-align: center;
  background-color: #e8e8e8;
  border-radius: 20px;
  margin: 0 20px;
  padding: 8px 12px;
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
}

main .news .news_list ul li .news_list_body {
  letter-spacing: 0.4px;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

main .service .container {
  max-width: 1140px;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0;
}

main .service .container .title {
  color: #391e88;
  font-weight: bold;
}

main .service .container .title .main_title {
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

main .service .container .title .sub_title {
  font-size: 0.8rem;
  margin-top: 8px;
}

main .service .container .contents .wrapper {
  margin-top: 12px;
  padding: 16px;
}

main .service .container .contents .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .service .container .contents .wrapper ul li {
  width: 31.5%;
}

main .service .container .contents .wrapper ul li figure img {
  width: 100%;
  height: auto;
}

main .service .container .contents .wrapper ul li h3 {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 16px 0;
}

main .service .container .contents .wrapper ul li p {
  font-size: 0.9rem;
  letter-spacing: 0.6px;
  line-height: 1.7rem;
  text-align: start;
}

main .service .container .contents .link {
  text-align: center;
  margin-top: 12px;
}

main .service .container .contents .link .btn {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #FFF;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7633a4), color-stop(51%, #250d65), to(#7633a4));
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  padding: 24px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

main .service .container .contents .link .btn::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 4px;
  height: 4px;
  border: 5px solid transparent;
  border-left: 5px solid #FFF;
}

main .works .container {
  max-width: 1340px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
/*# sourceMappingURL=style.css.map */